pipeline/StopDedicatedSQLPool.json
{
	"name": "StopDedicatedSQLPool",
	"properties": {
		"activities": [
			{
				"name": "GetDedicatedPoolsForWorkspace",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:10:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools?api-version=2019-06-01-preview')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "AutoResolveIntegrationRuntime",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.azure.com/"
					}
				}
			},
			{
				"name": "SelectDedicatedPool",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetDedicatedPoolsForWorkspace",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetDedicatedPoolsForWorkspace').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@startswith(item().name,pipeline().parameters.SQLPoolName)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Grab status",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SelectDedicatedPool",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "status",
					"value": {
						"value": "@activity('SelectDedicatedPool').output.Value[0].properties.status",
						"type": "Expression"
					}
				}
			},
			{
				"name": "State-PauseOrResume",
				"type": "Switch",
				"dependsOn": [
					{
						"activity": "Grab status",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"on": {
						"value": "@concat(variables('status'),'-',pipeline().parameters.PauseOrResume)",
						"type": "Expression"
					},
					"cases": [
						{
							"value": "Online-Pause",
							"activities": [
								{
									"name": "Pause",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:15:00",
										"retry": 3,
										"retryIntervalInSeconds": 120,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',pipeline().parameters.SQLPoolName,'/pause?api-version=2021-06-01-preview')",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "POST",
										"body": {
											"value": "None",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com/"
										}
									}
								}
							]
						},
						{
							"value": "Paused-Resume",
							"activities": [
								{
									"name": "Resume",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "0.00:15:00",
										"retry": 3,
										"retryIntervalInSeconds": 120,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionID,'/resourceGroups/',pipeline().parameters.ResourceGroup,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.WorkspaceName,'/sqlPools/',pipeline().parameters.SQLPoolName,'/resume?api-version=2021-06-01-preview')",
											"type": "Expression"
										},
										"connectVia": {
											"referenceName": "AutoResolveIntegrationRuntime",
											"type": "IntegrationRuntimeReference"
										},
										"method": "POST",
										"body": "None",
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com/"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"ResourceGroup": {
				"type": "string",
				"defaultValue": "rgrwse2edemo"
			},
			"SubscriptionID": {
				"type": "string",
				"defaultValue": "fd0d9e7a-b5dc-46f5-8d1d-a694d10dd09f"
			},
			"WorkspaceName": {
				"type": "string",
				"defaultValue": "rwse2esynapsews"
			},
			"SQLPoolName": {
				"type": "string",
				"defaultValue": "dwhexperiment"
			},
			"PauseOrResume": {
				"type": "string",
				"defaultValue": "Resume"
			}
		},
		"variables": {
			"status": {
				"type": "String"
			}
		},
		"annotations": []
	}
}