rwse2esynapsews/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "rwse2esynapsews"
		},
		"rwse2esynapsews-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'rwse2esynapsews-WorkspaceDefaultSqlServer'",
			"defaultValue": "Integrated Security=False;Encrypt=True;Connection Timeout=30;Data Source=tcp:rwse2esynapsews.sql.azuresynapse.net,1433;Initial Catalog=@{linkedService().DBName}"
		},
		"Source_Dataset_LS_sasUri": {
			"type": "secureString",
			"metadata": "Secure string for 'sasUri' of 'Source_Dataset_LS'"
		},
		"StorageLS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "@{concat('https://',linkedService().StorageName,'.dfs.core.windows.net')}"
		},
		"rwse2esynapsews-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://rwse2estorage.dfs.core.windows.net/"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/Source_Dataset_LS')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"StorageWithSaSUrl": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"sasUri": "[parameters('Source_Dataset_LS_sasUri')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/StorageLS')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"StorageName": {
						"type": "string",
						"defaultValue": "rwse2estorage"
					}
				},
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('StorageLS_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/rwse2esynapsews-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('rwse2esynapsews-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/rwse2esynapsews-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('rwse2esynapsews-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/rwse2esparkpool')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 15
				},
				"autoScale": {
					"enabled": true,
					"maxNodeCount": 5,
					"minNodeCount": 3
				},
				"nodeCount": 5,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.1",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "northeurope"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/rwse2edefaultsqlpool')]",
			"type": "Microsoft.Synapse/workspaces/sqlPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"collation": "SQL_Latin1_General_CP1_CI_AS",
				"maxSizeBytes": 263882790666240,
				"annotations": []
			},
			"dependsOn": [],
			"location": "northeurope"
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Source_DataPrep_DS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Source_Dataset_LS",
					"type": "LinkedServiceReference",
					"parameters": {
						"StorageWithSaSUrl": {
							"value": "@concat('https://medicaldl.blob.core.windows.net/source?sp=rl&st=2022-09-26T19:45:24Z&se=2032-09-27T03:45:24Z&spr=https&sv=2021-06-08&sr=c&sig=7MfRCnqvmJ7E24OJnTi51pmYN9FVO28XYjpXR6LhVRo%3D')",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"DatasetSize": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "@dataset().DatasetSize",
							"type": "Expression"
						},
						"container": "source"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/Source_Dataset_LS')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Sink_DataPrep_Curated_DS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageLS",
					"type": "LinkedServiceReference",
					"parameters": {
						"StorageName": {
							"value": "@dataset().StorageName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"StorageName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "curated"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/StorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Sink_DataPrep_DS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageLS",
					"type": "LinkedServiceReference",
					"parameters": {
						"StorageName": {
							"value": "@dataset().StorageName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"StorageName": {
						"type": "string"
					},
					"DatasetSize": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": {
							"value": "@concat('fhir_ndjson/', dataset().DatasetSize)",
							"type": "Expression"
						},
						"fileSystem": "raw"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/StorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Source_DataPrep_Curated_DS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Source_Dataset_LS",
					"type": "LinkedServiceReference",
					"parameters": {
						"StorageWithSaSUrl": {
							"value": "@concat('https://medicaldl.blob.core.windows.net/source?sp=rl&st=2022-09-26T19:45:24Z&se=2032-09-27T03:45:24Z&spr=https&sv=2021-06-08&sr=c&sig=7MfRCnqvmJ7E24OJnTi51pmYN9FVO28XYjpXR6LhVRo%3D')",
							"type": "Expression"
						}
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Create_Curated.txt",
						"container": "source"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/Source_Dataset_LS')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Source_DataPrep_Processed_DS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "Source_Dataset_LS",
					"type": "LinkedServiceReference",
					"parameters": {
						"StorageWithSaSUrl": {
							"value": "@concat('https://medicaldl.blob.core.windows.net/source?sp=rl&st=2022-09-26T19:45:24Z&se=2032-09-27T03:45:24Z&spr=https&sv=2021-06-08&sr=c&sig=7MfRCnqvmJ7E24OJnTi51pmYN9FVO28XYjpXR6LhVRo%3D')",
							"type": "Expression"
						}
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "Create_Processed.txt",
						"container": "source"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/Source_Dataset_LS')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Sink_DataPrep_Processed_DS')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "StorageLS",
					"type": "LinkedServiceReference",
					"parameters": {
						"StorageName": {
							"value": "@dataset().StorageName",
							"type": "Expression"
						}
					}
				},
				"parameters": {
					"StorageName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "processed"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/StorageLS')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Copy_Data_Source_To_Raw_PL')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Copy Source Data To Raw Container",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_DataPrep_DS",
								"type": "DatasetReference",
								"parameters": {
									"DatasetSize": {
										"value": "@pipeline().parameters.DatasetSize",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_DataPrep_DS",
								"type": "DatasetReference",
								"parameters": {
									"StorageName": {
										"value": "@pipeline().parameters.TargetStorageName",
										"type": "Expression"
									},
									"DatasetSize": {
										"value": "@pipeline().parameters.DatasetSize",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Create Curated Container",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Source Data To Raw Container",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_DataPrep_Curated_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_DataPrep_Curated_DS",
								"type": "DatasetReference",
								"parameters": {
									"StorageName": {
										"value": "@pipeline().parameters.TargetStorageName",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Create Processed Container",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Source Data To Raw Container",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings",
									"copyBehavior": "PreserveHierarchy"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "Source_DataPrep_Processed_DS",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Sink_DataPrep_Processed_DS",
								"type": "DatasetReference",
								"parameters": {
									"StorageName": {
										"value": "@pipeline().parameters.TargetStorageName",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"TargetStorageName": {
						"type": "string"
					},
					"DatasetSize": {
						"type": "string",
						"defaultValue": "1tb"
					}
				},
				"folder": {
					"name": "Data Prep"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/Source_DataPrep_DS')]",
				"[concat(variables('workspaceId'), '/datasets/Sink_DataPrep_DS')]",
				"[concat(variables('workspaceId'), '/datasets/Source_DataPrep_Curated_DS')]",
				"[concat(variables('workspaceId'), '/datasets/Sink_DataPrep_Curated_DS')]",
				"[concat(variables('workspaceId'), '/datasets/Source_DataPrep_Processed_DS')]",
				"[concat(variables('workspaceId'), '/datasets/Sink_DataPrep_Processed_DS')]"
			]
		}
	]
}